section.tweet {
  border: solid;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.error {
  margin-top: 10px;
  border: solid red;
  color: red;
  display: flex;
  justify-content:flex-start;
}

article.tweet {
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  flex-direction: column;
}

img.display {
  height: 64px;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header.tweet-header div {
  display: flex;
}

span.tweet {
  border-bottom: solid thick;
  padding-bottom: 1.5em;
  margin-bottom: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

footer.tweet-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  font-size: 16px;
  font-weight: bold;
}

div.icons {
  display: flex;
  gap: 5px;
  color:#4056A1;
}

.icons i:hover {
  color:rgb(209, 209, 154);
  transition-duration: 1s;
  cursor: pointer;
}